html, body {
  height: 100%;
  width: 100%;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 157px;
}

nav {
  height: 48px;
  width: 100%;
  color: #333;
  background-color: rgba(0,0,0,0.8);
}

h1 {
  text-align: center;
}

.container {
  max-width: 767px;
  position: relative;
  margin: 0 auto;
  top: 20%;
  background-color: rgb(235, 228, 242);
}

.board {
  position: relative;
  width: 350px;
  height: 350px;
  /*background: black;*/
  margin: 0 auto;
}

.scoreboard {
  position: relative;
  width: 100%;
  height: 100px;
}

.scoreboard p {
  font-size: 38px;
  text-align: center;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 33%;
}

.cell {
  flex: 1;
  flex-basis: 33%;
  border: 4px solid black;
  font-size: 100px;
  text-align: center;
  line-height: 100%;
}

.board .top {
  border-top: none;
}

.board .left {
  border-left: none;
}

.board .right {
  border-right: none;
}

.board .bottom {
  border-bottom: none;
}
